# Bỏ qua thư mục build của Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Bỏ qua file cấu hình của IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Bỏ qua file thực thi và log
*.jar
*.log

# Bỏ qua file rác của hệ điều hành (Mac/Windows)
.DS_Store
Thumbs.db